
/* position and order 
   importance 
   specificity
*/
h1{
    color:blue !important;

}
h1{
    color :greenyellow
}

h2{
    color:red;

}
.green{
    color:green;
}
.intro{
    color:goldenrod !important;
}
/* specifictiy 21 */
a.contact_us.on_mail{ 
    color:red;
}
/* specifictiy 11 */
a.contact_us{ 
    color:purple;
}
/* specifictiy 1 */
a{
    color:green;
}
