*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    font-size: 8px;
}
#parent{
    width:900px;
    height:400px;
    background-color: rgb(230, 9, 9);
    color:white;
    font-size: 50px;
}

p {
    line-height: 2;
    width:50em;
    height:50%;
    color:greenyellow;
    background-color: black;
    font-size: 2rem;
   

}

#child{
    background-color: rgb(14, 204, 14);
    height:20%;
    width:10vw;
    border-radius: 50%;
    margin-top: 5%;
    transform:rotate(90deg);
    transition:0.5s ease ;

}